/* customCardStyles.css */

.card-container {
    text-align: center;
    padding: 20px;
  }
  
  .cards-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .card {
    width: 300px;
    length: 600px;
    margin: 10px;
    display: flex;
    flex-direction: column;
  }
  
  .cardMedia {
    flex: 1;
  }

  .cardMedia img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Maintain aspect ratio and cover the container */
  }
  
  .cardContent {
    padding: 16px;
  }
  