<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
    <link rel = "stylesheet" href = "./Footer.css">
</head>
<body>
   
    <footer>
        <div class = "row">
            <div class="col">
                <img src="./GradHat.webp" alt="GrduationHat" class="HatLogo">
                <p class="textunderimg">Let's Grow Together!!</p>
            </div>
            <div class="col">
                <h3>Useful Links</h3>
                <p>About us</p>
                <p>Study Resources</p>
                <p>Student Chapters</p>
                <p>Gallery</p>
                <p>FAQs</p>
            </div>

            <div class="col">
                <h3>Contact Us</h3>
                <p>Email: abc@gmail.com</p>
                <p>Mobile: +91-1122334455</p>
            </div>
            
            <div class="col"></div>

        </div>
    </footer>
</body>
</html>
