<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
    <link rel = "stylesheet" href = "./Footer.css">
</head>
<body>
   
    <footer>
        <div class = "row">
            <div class="col">
                <img src="./GradHat.webp" alt="GrduationHat" class="HatLogo">
                <p class="textunderimg">Let's Grow Together!!</p>
            </div>
            <div class="col"></div>
                <h3>Useful Links</h3>
                <p></p>
            <div class="col"></div>
            <div class="col"></div>
        </div>
    </footer>
</body>
</html>
